.lsp .hero {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: transparent;
    background-image: url(../images/backgound-2.jpg);
    background-position: bottom center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-size: cover !important;
    position: relative;
    border-top-left-radius: initial;
    border-top-right-radius: initial;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
}

.lsp .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: initial;
    border-top-right-radius: initial;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
}

.lsp .hero .heading {
    color: #282828;
    width: 509px;
    font-family: poppins;
    font-size: 38px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0;
    height: 136.781px;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    font-weight: 500;
    text-transform: uppercase
}

.lsp .hero .sub-heading {
    color: #282828;
    width: 561px;
    font-family: lato;
    font-size: 20px;
    font-weight: 400;
    z-index: 15002;
    line-height: 1.4;
    letter-spacing: 0;
    height: 84px;
    font-style: normal;
}

@media (max-width: 992px) {
    .lsp .hero .heading {
        text-align: center;
        width: 100%;
    }

    .lsp .hero .sub-heading {
        text-align: center;
        width: 100%;
    }
}

.btn-theme {
    --bs-btn-color: #fff;
    --bs-btn-bg: #a82b28;
    --bs-btn-border-color: #a82b28;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ac4442;
    --bs-btn-hover-border-color: #ac4442;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ac4442;
    --bs-btn-active-border-color: #d4211e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #a82b28;
    --bs-btn-disabled-border-color: #a82b28;
}